body {
	background-color: black; 
	color: white;
	font-size: 18px;
	font-family: Verdana, Arial, serif;
 }
 img {
	display: inline;
	max-width: 100%;
	padding: 0.5em;
}
#container {
	text-align: center;
	padding: 1%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
header {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	border-radius: 0.5em;
}
nav {
	font-family: Georgia, "Times New Roman", serif;
	text-align: center;
	font-size: 1.5em;
	display: block;
}
nav ul {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
}
nav li {
	background-color: #009933;
	list-style-type: none;
	border-radius: 1em;
	margin: 0.5em;
	padding: 0.2em;
	
}

nav li a {
	text-decoration: none;
	color: #FFFFFF;

}	
main {
	display: block;
	text-align: center;
	padding: 1.5em;
	border-radius: 0.2em;
	border-top: solid 0.2em #BAB2B0;
	border-bottom: solid 0.2em #BAB2B0;
}

 footer {
	 text-align: center;
 }

 label {
	 text-align: center;
	 display: block;
	 padding: 0.5em;
 }

h1 {
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
h2 {
	color: white;
	font-size: 28px;
	font-weight: bold;
}
h3 {
	color: white;
	font-size: 28px;
	font-weight: bold;
}
#reunion1 {
	background-image: url(CelebrationDay.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
aside {
	float: left;
	padding: 1em;
	max-width: 80%;
}
a { 
text-decoration: none;
color: #009933;
}

table {
	border: solid 0.5em #009933;
	border-collapse: collapse;
	padding: 0.5em;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
caption {
	text-align: center;
	font-weight: bold;
	font-size: 28px;
}
th {
	border: solid 0.5em #009933;
	font-weight: bold;
}
td {
	border: solid 0.5em #009933;
	padding: 0.5em;
}
#sixtynine {
	float: left;
	padding: 0.5em;
	max-width: 80%;
}
#seventythree {
	float: right;
	padding: 0.5em;
	max-width: 75%;
}
#eighty {
	padding: 0.5em;
	max-width: 85%;
}
#unledded {
	padding: 0.75em;
	max-width: 80%;
}
#arms {
	float: left;
	padding: 0.5em;
	max-width: 75%;
}
#percy {
	float: right;
	padding: 1em;
	max-width: 85%;
}
#jonsey {
	padding: 1em;
	max-width: 85%;
}
#starship {
	padding: 1em;
	max-width: 80%;
}


#seventyseven {
	float: right;
	padding: 1em;
	max-width: 80%;
}
.mobile {
	display: inline;
}
.desktop {
	display: none;
}


@media only screen and (min-width: 481px) {
	
img {
	width: 80%;
	padding: 0.2em;
}
#container {
	width: 70%;
}
main {
	border-radius: 0.5em;
}
nav {
	display: inline;
}
.mobile {
	display: none;
}
.desktop {
	display: inline;
}


	
}



@media only screen and (min-width: 769px) {
	
body {
	font-family: Verdana, Arial, serif;
}
img {
	width: auto;
	padding: 0.5em;
}
#container {
	width: 80%;
}
nav {
	margin-top: 1em;
}
nav ul {
	margin: 0.5em;
}
nav li {
	border-radius: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0;
	width: 18%;
	display: inline;
}
nav li a {
	display: inline-block;
	padding: 0.5em;
	font-size: 1em;
}
main {
	border: none;
	border-radius: 1em;
	margin-top: 1em;
}
a {
	text-decoration: none;
	color: #009933;
}
#banner {
	width: 60%;
}
.mobile {
	display: none;
}
nav li a:link {
	color: #FD0303;
}
nav li a:hover {
	color: #000000;
}
a:hover {
	text-shadow: 0 0 10px #009933;
	font-weight: bold;
}
	
}